<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite"
       parallel="classes"
       thread-count="3">

    <test name="AutomationTests">

        <classes>

            <class name="com.faiz.automation.tests.RegistrationTest"/>

            <class name="com.faiz.automation.tests.LoginTest"/>

            <class name="com.faiz.automation.tests.RegistrationAndLoginTest"/>

            <class name="com.faiz.automation.tests.NotebookOrderTest"/>

            <class name="com.faiz.automation.tests.TopMenuTabsTest"/>

            <class name="com.faiz.automation.tests.SearchTest"/>

            <class name="com.faiz.automation.tests.NewsletterTest"/>

            <class name="com.faiz.automation.tests.ProductCartTest"/>

            <class name="com.faiz.automation.tests.WishlistAndCompareTest"/>

        </classes>

    </test>

</suite>